.jumbotron {
    padding-top: 5rem;
    background-image: url(img/daun.jpg);
    text-align: center;
    color: white;
}
#PORTFOLIO {
    background-color: rgb(240, 170, 240);
}
#contact {
    background-color: rgb(240, 170, 240);
}
section {
    padding-top: 5rem;
}